@import 'tailwindcss';
@import 'tw-animate-css';

/*@custom-variant dark (&:is(.dark *));*/
#root {
  width: 100%;
  margin: auto;
  padding: 0;
  text-align: center;
  font-family: verdana;
}

body:has(#view-specific-item) {
  background-color: var(--primary);
}

body:has(#create-account) {
  background-color: var(--primary);
  padding: 2.5em;
}

body:has(#sign-in) {
  background-color: var(--primary);
  padding: 2.5em;
}

body:has(#landing) {
  background-image: url('/src/assets/AIT.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2.5em;
}

#landing nav {
  background-color: rgb(12, 3, 63);
}

#landing #nav-buttons {
  background-color: transparent;
}

#landing #nav-buttons.active {
  background-color: rgb(12, 3, 63);
}

img {
  border-radius: 10px;
}

button.landing-button {
  background-color: rgb(12, 3, 63);
  border-color: transparent;
  color: white;
}

button.landing-button:hover {
  color: rgb(191, 211, 255);
}

#landing-header {
  background-color: transparent;
  padding-top: 0.1em;
  color: white;
}

#landing-subtext {
  color: white;
}

#landing-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#landing #mobile i {
    font-size: 30px;
    cursor: pointer;
    color: white;
}

#vsi-image {
  border-color: var(--light-bg);
  border-width: 3px;
  grid-area: vsi-img;
  width: 100%;
  height: auto;
}

#textInfo {
  background-color: var(--light-bg);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 2em;
  grid-area: vsi-text;
  justify-content: space-evenly;
}

.vsi-info-box {
  display: flex;
  align-items: flex-start;
}

.description {
  flex-direction: column;
}

.vsi-container {
  padding-left: 3em;
  padding-right: 3em;
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;

  grid-template-areas:
    "vsi-img vsi-text"
}

@media only screen and (max-width: 768px) {
  .vsi-container {
    padding-left: 3em;
    padding-right: 3em;
    
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    gap: 1em;

    grid-template-areas:
      "vsi-img"
      "vsi-text"
  }
}

.vsi-misc {
  background-color: var(--light-bg);
  border-radius: 10px;
  margin-left: 3em;
  margin-right: 3em;
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 0.5em;
}

.inquiriesContainer {
  padding-left: 3em;
  padding-right: 3em;
  margin-bottom: 1em;
}

#preview {
  width: 100%;
  height: auto;
}

.itemImage {
  position: relative;
}

.card {
  padding: 2em;
}

.containerBlue {
  background-color: rgb(2, 2, 201);
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical {
  flex-direction: column;
}

.container {
  background-color: var(--primary);
  width: 100vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.read-the-docs {
  color: #888;
}

#mobile {
  display: none;
}

@media screen and (max-width: 925px) {
  #nav-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    position: fixed;
    top: 0px;
    right: -300px;
    height: 100vh;
    width: 300px;
    transition: 0.3s ease-in-out;

  }

  #nav-buttons.active {
    right: 0px;
    background-color: var(--primary);
  }

  #mobile {
    display: block;
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 10000;
  }

  #mobile i {
    font-size: 30px;
    cursor: pointer;
  }

  .navbar {
    height:50px;
    z-index: 1000;
  }
  
}

button.vsi-button {
  background-color: var(--light-bg);
  color: var(--text-color);
}

button.vsi-button:hover {
  background-color: transparent;
  border-color: white;
  color: white;
}

button.navbar-button {
  background-color: transparent;
  color: white;
  border-color: transparent;
}
button.navbar-button i {
  color: white;
}

button.navbar-button:hover {
  color: rgb(193, 230, 255);
  text-decoration: underline;
  text-underline-offset: 8px;
}

button.transparent-button {
  background-color: transparent;
  color: var(--text-color);
  border-color: transparent;
  font-weight: bold;
}

button.transparent-button:hover {
  background-color: transparent;
  color: var(--secondary);
  text-decoration: underline;
  text-underline-offset: 8px;
  border-color: transparent;
  font-weight: bold;
}

button.settings-button:focus {
  color: white;
}

button.settings-button:hover {
  color: var(--text-color);
}

#see-all {
  text-decoration: underline;
  text-underline-offset: 8px;
  align-self: start;
}

#see-all-container {
  display: flex;
  padding-left: 3.5em;
}

.navbar {
  position: fixed;
  z-index: 100;
  top: 0;
  display: flex;
  
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary);
  padding-bottom: 0.5em;
  box-shadow: 0px 2px 3px black;
  width: 100%;
  
}

.navbar i {
  color: var(--light-bg);
}

#nav-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}



.navItem {
  padding-left: 1%;
  padding-right: 1%;
}

.homepageRecentlyLost {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  gap: 0.5em;
  justify-content: center;
  align-items: center;
}

.itemBox {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  gap: 0.6em;
}

.item-card-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 15px;
}

.item {
  background-color: var(--light-bg);
  margin: 4px;
  padding: 4px;
  border-radius: 10px;
  border-color: var(--text-color);
  border-width: 1px;
  padding-bottom: 5px;
  position: relative;
}

.card-item-name {
  font-size: 24px;
}

.previewText {
  background-color: var(--accent);
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  position: absolute;
  top: 0%;
  right: 0%;
  gap: 5px;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  z-index: 10000;
}

.previewText i {
  color: white;
}

.previewText p {
  color: white;
}

.recentUpload {
  background-color: var(--accent);
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  position: absolute;
  align-self: start;
  justify-self: right;
  width: 67%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.recentUpload i {
  color: white;
}

.recentUpload p {
  color: white;
}

.item img {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.item:hover {
  z-index: 10;
  transform: scale(1.01);
  transition: 0.1s;
  box-shadow: 2px 2px 5px rgb(156, 156, 156)
}

.accountForm {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 1em;
  background-color: var(--light-bg);
  border-radius: 10px;
  padding-top: 3em;
  padding-bottom: 3em;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.new-acc-button {
  width: 100%;
}

.barofcolor {
  background-color: var(--secondary);
  background-size: cover;
}

.bannerSpan {
    width: 100%;
    position: relative;
    margin:0 auto;
    padding: 0;
}


.blueBG {
  background-color: var(--primary);
}

.search {
  display: flex;
  gap: 0.5em;
  align-items: center;
  justify-content: center;
  margin: 1em;
  height: 2vh;
}

#searchBar {
  border-color: var(--text-color);
  border-radius: 5px;
  border-width: 1px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  color: var(--text-color);
}

.tag {
  background-color: var(--accent);
  border-radius: 100px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.05em;
  padding-bottom: 0.05em;
  border-color: var(--text-color);
  border-width: 1px;

}

.tagsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
  margin-top: 0.15em;
  margin-bottom: 0.15em;
  align-items: center;
  justify-content: center;
}

.tagsContent {
  grid-area: tagsSelect;
  display: flex;
  justify-content: center;
  gap: 0.5em;
}

.locationInfo {
  grid-area: locationInfo;
  display: flex;
  justify-content: center;
  gap: 0.5em;
  flex-wrap: wrap;
}

.itemInfo {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50vh;
}

.itemImage {
  grid-area: image;
}

.itemName {
  grid-area: name;
}

.description {
  grid-area: description;
}

.generateText {
  grid-area: generateText;
}

.buildingFound {
  grid-area: foundIn;
}

.currentLocation {
  grid-area: currentLocation;
}

.tags {
  grid-area: tags;
}

.reportItem {
  grid-area: submit;
}

.upload-dz {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.lostItemForm {
  background-color: var(--light-bg);
  border-radius: 10px;
  width: 100%;
  height: 80%;
  padding: 3em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 3fr 2fr 4fr 2fr;
  gap: 1em;
  grid-template-areas:
    'image name'
    'image tagsSelect'
    'image locationInfo'
    'image description'
    'submit submit';
}

@media only screen and (max-width: 768px) {
  .lostItemForm {
    background-color: var(--light-bg);
    border-radius: 10px;
    width: 100%;
    height: 80%;
    padding: 3em;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    grid-template-areas:
      'image'
      'name'
      'tagsSelect'
      'locationInfo'
      'description'
      'submit';
  }
}

#dropZone {
  border-radius: 10px;
  border-color: var(--text-color);
  border-width: 1px;
}

.form {
  background-color: var(--light-bg);
  border-radius: 10px;
  width: 100%;
  height: 80%;
  padding: 3em;
  gap: 3em;
  display: flex;
  flex-direction: column;
}

.modalChildren {
  background: var(--light-bg);
  border-radius: 10px;
  box-shadow: 6px;
  width: 70%;
  height: 50%;
  padding: 0.5em;
  padding-top: 3em;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  position: relative;
}

.settings-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.close-button {
  position: absolute;
  right: 5%;
  top: 5%;
  color: var(--text-color);
  background: transparent;
  border-color: transparent;
}

.close-button:hover {
  color: red;
  border-color: transparent;
} 

.inquiriesContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.inquiry {
  background-color: var(--light-bg);
  border-radius: 10px;
  padding: 0.5em;
  padding-left: 1em;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wide-button {
  width: 100%;
}

.write-inquiry {
  background-color: var(--light-bg);
  margin-left: 3em;
  margin-right: 3em;
  padding: 1em;
  border-radius: 10px;
}

.submit-inquiries-container {
  background-color: var(--light-bg);
  margin-left: 3em;
  margin-right: 3em;
  padding: 1em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.buttonContainer {
  padding-left: 3em;
  padding-right: 3em;
}
/*
@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: #faf0de;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
*/
